
<!-- <div class="bootstrap-wrapper">
  <div class="container text-center mt">
    <h1>Welcome to Admin Section</h1><br><br>
    <a routerLink="/student-module" mat-raised-button color="accent" class="mt">Student Module</a><br><br>
    <a routerLink="/question-module" mat-raised-button color="accent" class="mt">Question Module</a><br><br>
    <a routerLink="/rules-module" mat-raised-button color="accent" class="mt">Rules Module</a><br><br>
    <a routerLink="/result" mat-raised-button color="accent" class="mt">Result</a><br><br>
  </div>
</div> -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="container1">
	<div class="screen">
		<div class="screen__content">
            <span><h1 style="text-align: center;padding-top: 20px;"> STUDENT SECTION</h1></span>
			<form class="login">

        <img style="width:200px;height:200px;margin-left:35%;" src="assets/exam.jpg">
                <button routerLink="/rule-page" routerLinkActive="active" class="button login__submit1" style="margin-left: 105px;">
					<span class="button__text" >Start Exam</span>
					
					
				
					
			
					
				</button>
				
			</form>
		
				
			<div class="social-login">
				<div class="social-icons">
					
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>

