<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<!-- <div class="bootstrap-wrapper">
  <div class="container text-center mt">
    <h1 class="text-center">Welcome to Exam Portal</h1>
    <a routerLink="/admin-login" mat-raised-button color="accent" class="mt">Admin Login</a>
    <a routerLink="/login" style="margin-left: 20px;" mat-raised-button color="accent" class="mt">Student Login</a>
  </div>
</div> -->


<div class="container1">
	<div class="screen">
		<div class="screen__content">
			<form class="login">
                <button routerLink="/admin-login" routerLinkActive="active" class="button login__submit1">
					<span  class="button__text">ADMIN LOGIN</span>
					
				</button>	
				<button routerLink="/login" routerLinkActive="active" class="button login__submit">
					<span  class="button__text">STUDENT LOGIN</span>
					
				</button>				
			</form>
			<div class="social-login">
			
				<div class="social-icons">
					
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>

